/*
RW 7.2 device tree

As of Nov 2024, Zephyr does not support HRTIM (High-Resolution Timers) for PWM.
So all HRTIM pins are configured via src/cube/hrtim.* (Generate CubeMX code).
Pins this includes:
- PC6: PHC_H
- PC7: PHC_L
- PC8: PHB_H
- PC9: PHB_L
- PA10: PHA_H
- PA11: PHA_L
*/

/ {
	chosen {
		zephyr,canbus = &fdcan2;
	};

	zephyr,user {
		io-channels = <&adc1 1>, <&adc1 2>, <&adc3 1>, <&adc5 1>, <&adc5 2>;
		io-channel-names = "PHA_ISNS", "PHB_ISNS", "PHC_ISNS", "THERM_A", "THERM_B";
	};

	gpio_inputs {
		compatible = "gpio-keys";
		debug1: debug_1 {
			gpios = <&gpiob 58 GPIO_ACTIVE_LOW>;
			label = "DEBUG1";
		};
		debug2: debug_2 {
			gpios = <&gpiob 57 GPIO_ACTIVE_LOW>;
			label = "DEBUG2";
		};
		debug3: debug_3 {
			gpios = <&gpiod 55 GPIO_ACTIVE_LOW>;
			label = "DEBUG3";
		};
	};

	gpio_outputs {
		compatible = "gpio-leds";
		debug0: debug_0 {
			gpios = <&gpiob 62 GPIO_ACTIVE_LOW>;
			label = "DEBUG0";
		};
	};
};

&adc1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;

	channel@1 { /* PHA_ISNS */
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@2 { /* PHB_ISNS */
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&adc2 {
	status = "disabled";
};

&adc3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;

	channel@1 { /* PHC_ISNS */
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&adc4 {
	status = "disabled";
};

&adc5 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;

	channel@1 { /* THERM_A */
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@2 { /* THERM_B */
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&dac1 {
	pinctrl-0 = <&dac1_out1_pa4 &dac1_out2_pa5>; /* SCOPE0 and SCOPE1 */
	pinctrl-names = "default";
	status = "okay";
};

&dac2 {
	pinctrl-0 = <&dac2_out1_pa6>; /* SCOPE2 */
	pinctrl-names = "default";
	status = "okay";
};

&dac3 {
	status = "disabled";
};

&dac4 {
	status = "disabled";
};

&fdcan1 {
	status = "disabled";
};

&fdcan2 {
	pinctrl-0 = <&fdcan2_rx_pb12 &fdcan2_tx_pb13>;
	pinctrl-names = "default";
	status = "okay";
};

&fdcan3 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

/* lpuart1 is already configured correctly */

&spi1 {
	status = "disabled";
};

&spi2 {
	status = "disabled"; /* default pins used by fdcan2 */
};

/* spi3 is already configured correctly */

&uart4 {
	status = "disabled";
};

&uart5 {
	status = "disabled";
};

&usart1 {
	status = "disabled";
};

&usart2 {
	status = "disabled";
};

&usart3 {
	status = "disabled";
};
