
/ {
	model = "OreSat Diode Test";
	compatible = "PSAS,diode_test";

	zephyr,user {
		dac = <&dac1>;
		dac-channel-id = <1>;
		dac-resolution = <12>;
    io-channels = <&adc1 1>, <&adc1 5>, <&adc1 6>, <&adc1 17>;
	};

	leds: leds {
		compatible = "gpio-leds";
		orange_led_0: led_0 {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "Orange LED";
		};
	};

  mux_pins: mux_pins {
		compatible = "gpio-leds";
		dtc_mux_en: mux_en {
			gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
			label = "DTC Mux Enable";
		};
		dtc_mux_a0: mux_a0 {
			gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
			label = "DTC Mux A0";
		};
		dtc_mux_a1: mux_a1 {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "DTC Mux A1";
		};
		dtc_mux_a2: mux_a2 {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
			label = "DTC Mux A2";
		};
	};

	aliases {
		muxen = &dtc_mux_en;
		muxa0 = &dtc_mux_a0;
		muxa1 = &dtc_mux_a1;
		muxa2 = &dtc_mux_a2;
		led0 = &orange_led_0;
	};
};

&clk_hse {
	/delete-property/	hse-bypass;
	clock-frequency = <DT_FREQ_M(16)>; /* STLink 16MHz clock */
	status = "okay";
};

&pll {
	mul = <3>;
};

&flash0 {
	partitions {
    boot_partition: partition@0 {
      label = "mcuboot";
      reg = <0x00000000 0x0000C000>;
    };
    slot0_partition: partition@c000 {
      label = "image-0";
      reg = <0x0000C000 DT_SIZE_K(100)>;
    };
    slot1_partition: partition@25000 {
      label = "image-1";
      reg = <0x00025000 DT_SIZE_K(100)>;
    };
	};
};

&adc1 {
	pinctrl-0 = <&adc_in0_pa0>;
	pinctrl-names = "default";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@1 {
		reg = <1>;
    zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
  channel@5 {
		reg = <5>;
    zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
  channel@6 {
		reg = <6>;
    zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
  channel@11 {
		reg = <17>;
    zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

