&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	bmi08x-accel@18 {
		status = "okay";
		compatible = "bosch,bmi08x-accel";
		reg = <0x18>;
		accel-hz = "100";
		accel-fs = <6>;
	};

	bmi08x-gyro@68 {
		status = "okay";
		compatible = "bosch,bmi08x-gyro";
		reg = <0x68>;
		gyro-hz = "100_32";
		gyro-fs = <1000>;
	};
};
